.actions-view-history {
  display: flex;
  flex-direction: column-reverse;
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    border-top: 1px solid #e2e2e2;
    padding: 1em 1.5em;

    &:last-child {
      border:none;
    }


    &.selected {
      background-color: #EAF4FF;
    }
  }
}

.actions-view {
  > .accordion {
    .actions-view-actions {
      padding: .6em 2em .6em 1em;

      &:before {
        font-size: 1.5em;
        left: auto;
        right: 0;
      }
    }

    > .accordion-content {
      padding: 0;
    }
  }

  &.actions-view-mode-output .actions-view-calculate {
    display: none;
  }

  &.actions-view-mode-input .actions-view-edit,
  &.actions-view-mode-input .actions-view-new {
    display: none;
  }
}

.accordion > .actions-view-actions:hover {
  background: #f4f4f4;
}