.actions-view-history {
  display: flex;
  flex-direction: column-reverse;
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    border-top: 1px solid #e2e2e2;
    padding: 1em 1.5em;

    &:last-child {
      border:none;
    }


    &.selected {
      background-color: #EAF4FF;
    }
  }
}

.actions-view {
  > .accordion {
    .actions-view-actions {
      padding: .6em 2em .6em 1em;

      &:before {
        font-size: 1.5em;
        left: auto;
        right: 0;
      }
    }

    > .accordion-content {
      padding: 0;
    }
  }

  &.actions-view-mode-output .actions-view-calculate {
    display: none;
  }

  &.actions-view-mode-input .actions-view-edit {
    display: none;
  }
}

.accordion > .actions-view-actions:hover {
  background: #f4f4f4;
}

.actions-view-calculate,
.actions-view-edit {
  width: 7em;
}

.actions-view-actions > .actions-view-edit,
.actions-view-actions > .actions-view-calculate {
  margin-right: 16px;
  color: #fff;
  font-size: 0.8125em;
}

/**
 * Make the link look like a button. Normally, no; but the link has it's
 * advantages in this case.
 */
.actions-view-download {
  display: inline-block;
  padding: 0 1em;
  margin: 4px 2px;
  color: #666;
  background: #f8f8f8;
  background-image: linear-gradient(to bottom,rgba(255,255,255,.05) 0,rgba(0,0,0,.05) 100%);
  text-align: center;
  text-shadow: 0 1px 1px #fff;
  text-decoration: none;
  cursor: pointer;
  border-radius: 2px;
  border: 0;
  box-shadow: rgba(0,0,0,0.15) 0 0 0 1px inset;
  font-size: .8125em;
  vertical-align: top;
  font-family: 'helvetica neue', aria, sans-serif;
  line-height: 3rem;
  height: 3rem;

  &:hover {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.1) 0, rgba(0,0,0,0.1) 100%);
    text-shadow: none;
  }

  &.disabled {
    background: #D3D3D3;
    color: #999;
    text-shadow: none;
    cursor: text;
    box-shadow: none;

    &:before {
      color: #999;
    }
  }
}

.actions-view-actions {

  > button {
    color: #666;
    font-size: 11px;
    height: 4.5rem;
    line-height: 3rem;
    min-width: 72px;
    margin-right: -4px;

    &:before {
      display: block;
      font-family: monospace;
      font-size: 18px;
      line-height: 0;
      padding-top: 16px;
    }
  }

  > .actions-view-new:before {
    content: '\002B';
  }

  > .actions-view-upload:before {
    content: '\21e7';
    font-size: 16px;
  }

  > .actions-view-print:before {
    content: '\2399';
  }
}

.actions-view-download {
  color: #666;
  font-size: 11px;
  height: 4.5rem;
  line-height: 6.3rem;
  margin-right: -4px;
  min-width: 72px;

  &:visited {
    color: #666;
  }

  &.disabled:visited {
    color: #999;
  }

  &:before {
    color: #666;
    content: '\21e7';
    font-family: monospace;
    font-size: 16px;
    display: block;
    line-height: 0;
    position: relative;
    top: 15px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
