.calculation-view {
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.5em;
  position: relative;

  &:hover {
    background-color: #f8f8f8;
  }
}

.calculation-title {
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 85%;
}

.calculation-subtitle {
  font-size: .75em;
  display: block;
  color: #666;
}

.calculation-inputs {
  margin-top: 0.5em;
  overflow: auto; /* Create new block formatting context */

  > dt {
    clear: left;
    float: left;
    font-weight: normal;
    margin-right: 1em;
    width: 8.5em;

    &:before {
      float: left;
      clear: left;
      content: '-';
      display: block;
      margin-right: 0.5em;
    }

    &:after {
      display: inline-block;
      content: ':';
    }
  }

  > dd {
    color: #444;
    float: left;
    margin: 0;
  }
}

.calculation-delete {
  color: #E46554;
  font-size: 1em;
  position: absolute;
  right: 1em;
  top: 0.5em;

  &:hover {
    color: #C00;
  }
}

.calculation-status {
  bottom: 0.5em;
  color: #999;
  font-style: italic;
  position: absolute;
  right: 1em;
  text-transform: capitalize;
}
