.location-view {
  background: rgb(248, 248, 248);
  border: 1px solid #d8d8d8;
  height: 300px;
  margin: 4px 0;
}

#input-view {

  select[disabled] {
    color: #999;
    background: #ededed;
    border: none;
  }

  label {
    font-size: .8125em;
    color: #999;
  }

  #title {
    font-size: 2em; // h1 size
    height: auto;
  }

  input,
  select {
    width: 100%;
  }
}

/* input/output view modes */
.title-output,
.design-code-output,
.site-class-output,
.risk-category-output {
  display: none;
}

.input-view-output {
  label {
    border-bottom: 1px solid #ccc;
  }

  .title-output,
  .design-code-output,
  .site-class-output,
  .risk-category-output {
    display: block;
    margin: 8px 0 24px;
  }

  .location-view {
    margin-top: -1px;
  }

  .title-output > small {
    display: block;
    font-size: 14px;
  }

  select,
  input {
    display: none;
  }
}