
.SpectraGraphView {

  .inner-frame,
  .outer-frame {
    fill: none;
  }

  .label,
  .plot-title {
    font-size: 1.5em;
  }

  .x,
  .y {
    fill: #000;

    .domain,
    .tick > line {
      fill: none;
      stroke: #000;
      stroke-width: 1px;
    }
  }

  .spectra {
    fill: none;
    stroke: #000;
    stroke-width: 2px;
  }

  .annotations {
    stroke: #000;
    stroke-width: 1px;
    stroke-dasharray: 10 10;
  }
}
