.site-amplification-table {
  border-top: 3px double #333;
  border-bottom: 3px double #333;
  border-collapse: collapse;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;

  thead > tr > th {
    border-bottom: 1px solid #333;
    padding: 5px 3px;
    vertical-align: bottom;
  }

  > tbody > tr > th,
  > tbody > tr > td {
    color: #333;
    min-width: 95px;
    padding: 3px;
    text-align: center;

    &.bound {
      background-color: yellow;
      color: #000;
    }
    &.lower {
      border-bottom: 2px solid #000;
      border-left: 2px solid #000;
      border-top: 2px solid #000;
    }
    &.upper {
      border-bottom: 2px solid #000;
      border-right: 2px solid #000;
      border-top: 2px solid #000;
    }
  }

  th {
    color: #000;
    font-weight: normal;
  }

  > tfoot > tr > td {
    border-top: 3px double #333;
    text-align: center;
  }
}

.site-amplification-table-undetermined {
  border-bottom: 3px double #333;

  tr.header > th {
    border-bottom: 1px solid #333;
    border-top: 1px solid #333;
  }
}

@media screen and (min-width: 1024px) {
  .site-amplification-table {
    display: table;
  }
}
